{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}Register{% endblock title %}

{% block body %}
    <div class="content-section">
        <form method="POST" class='my-2'>
            {% csrf_token %}
            <h3>Create A New Account.</h3>  
            {{ form|crispy}}
            <button class="btn btn-outline-info" type="Submit">Sign Up</button>
        </form>
        <hr>
        <small class="text-muted">
			Already Have An Account ?
			<a class="ml-2" href="{% url 'home:login' %}">Login</a>
		</small>
    </div>
{% endblock body %}